body{
    height: 100vh;
    font-family: 'Piedra', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;}

.fade-in {
    animation: fadeIn ease .5s;
   
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
  
    100% {
      opacity:1
    }
  }
  
  